body{
    background-color: black;
    padding: 100px 0px;
    }
section{
    width: 580px;
    height: 400px;
    background-color: #4EABD4;
    color: white;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 25px;
    

}
.forform{
    border: 8px solid #4C9EC3;
    border-radius: 3px;
    height: 300px;
    width: 350px;
    margin: 0px auto;
    padding: 0px;
    background-color: #4C9EC3; 
    
}

form{
    height: 300px;
    width: 350px;
    background-color: white;
    border: 0px solid #4C9EC3;
    border-radius: 3px; 
    margin-top: -21px;
    text-align: left;
                      
}
p.footer{
    color: white;
    text-align: center;
    font-size: 0.8em;
    line-height: 3;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgba(255, 253, 253, 0.856);
    font-family: Arial, Helvetica, sans-serif;

}
a:visited{
    color: rgba(255, 253, 253, 0.856);
}

h4{
    color:#666668;
    background-color: #F6F7F9;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #bebec275;
    text-align: center;
    
}
p.forinput{
    border: 6px solid #e0e0e675;
    margin: 0px 20px 20px 20px;
    height: 32px;
    border-radius: 3px;
    background-color: #e0e0e675;
        
}


input#main{
    height: 28px;
    width: 285px;
    border-radius: 3px;
    border: 1px solid rgb(212, 215, 219);
    padding-left: 10px;
    
}
input#main2{
    height: 28px;
    width: 285px;
    border-radius: 3px;
    border: 1px solid rgb(212, 215, 219);
    padding-left: 10px;
    
}
label{
    color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
p.forcheckbox{
    margin-left: 15px;
    line-height: 3;

}

button{
    color: rgb(31, 93, 122);
    font-weight: bolder;
    border-radius: 15px;
    border: 1px solid rgba(164, 199, 214, 0.911);
    background-color: #ccdef375;
    height: 30px;
    width: 70px;
    text-align: center;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#error{
    color: red;
    text-align: center;
    font-style: italic;

}

.error1{
    background-color: red;
    
}
.validated{
    color: green;
    size: 25px;
    text-align: center;
}
.notvalidated{
    color: red;
    size: 25px;
    text-align: center;
}