body {
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 900px;
    background-image: url(../img/2_pict.png);
       
}

body>header {
    background-image: url(../img/header-background.png);
    background-repeat: no-repeat;
    height: 900px;
    background-size: 100%;
}

header>div {
    padding-top: 531px;
    padding-left: 215px;
    color: white;
    font-family: 'Montserrat-Bold', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 3em;
    
}

.sertiz{
    text-transform: uppercase;
    line-height: 0.83;
    height: 35px;
    margin-bottom: 16px;
    font-size: 0.92em;
    font-weight: bold;
    letter-spacing: 3px;
}

.awesome {
    font-family: 'Lato-Regular', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont','Roboto', sans-serif;
    font-size: 0.32em;
    margin-bottom: 28px;
    height: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
}

header div>div:nth-child(3) {
    text-transform: uppercase;
    font-size: 1.14em;
    font-weight: bold;
    line-height: 0.74;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: rgba(0, 0, 0, .3);
    width: 831px;
    height: 129px;
    box-sizing: border-box;
    display: flex;
    letter-spacing: 3px;
        
}
.we {
    width: 96px;
    height: 40px;
    color: #f1ad1d;
    margin: 49px 51px auto 30px;
    font-family: 'Montserrat-Bold', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
}
.smart {
    width: 611px;
    height: 40px;
    margin: 49px 43px auto 0px;
    font-family: 'Montserrat-Bold', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    
}

span {
    color: #f1ad1d;
}

/*page2*/

.page2{
    height: 873px;
    width: 1578px;
    margin: 0 0 0 22px;
    padding: 0;
   
}
.head{
    height: 17px;
    margin: 111px auto 0;
    margin-top: 111px;
    font-family: "Montserrat-Bold", "OpenSans-Light", "MyriadPro-Regular", "AdobeInvisFont", 'Roboto', sans-serif;
    font-size: 1.6em;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0;
    line-height: 0.5;
    letter-spacing: 1px;
}
.secondpage{
    margin-top: 72px;
}
.secondpage2{
    margin-top: 126px;
}
.awardwinning{
    height: 16px;
    margin: 35px auto 0;
    font-family: "Lato-Regular", "OpenSans-Light", "MyriadPro-Regular", 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 1em;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    padding: 0;
    line-height: 1.05;
    letter-spacing: 1px;
}
.line{
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 52px auto 0px;
}
.line2{
    width: 1169px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 22px auto 0px;
}
.webawardlogo{
    width: 281px;
    height: 6420px;
    margin: 57px auto auto;
    background-image: url("../img/web\ Award@1X\ \(1\).png");
    background-repeat: no-repeat;
    position: absolute;
    left: 637px;
           
}
.sectionfornav{
    margin: 331px auto 0;
    padding-left: 193px;
    overflow: hidden;

}
.logo{
    color: #f1ad1d;
    width: 136px;
    height: 28px;
    font-size: 2.35em;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.nav1 > ul{
    float: left;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
}
.nav1 > ul > li{
    display:inline-block;
    text-transform: uppercase;
    font-family: 'Courier', 'Lato-Regular', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 0.8
}
.nav1 > ul > li:nth-child(1){
    width: 56px;
    height: 13px;
    margin-left: 238px;
    color: #f1ad1d;

}
.nav1 > ul > li:nth-child(1)::after{
    content: url("../img/arrow-hover@1X.png");
    margin-left: 3px;
    position: absolute;
}


.nav1 > ul > li:nth-child(2){
    width: 49px;
    height: 13px;
    margin-left: 76px;
}

.nav1 > ul > li:nth-child(3){
    width: 82px;
    height: 13px;
    margin-left: 62px;
}

.nav1 > ul > li:nth-child(4){
    width: 100px;
    height: 13px;
    margin-left: 60px;
}
.nav1 > ul > li:nth-child(4)::after{
    content: url("../img/arrow@1X.png");
    margin-left: 3px;
    position: absolute;
}
.nav1 > ul > li:nth-child(5){
    width: 47px;
    height: 13px;
    margin-left: 77px;
}
.nav1 > ul > li:nth-child(6){
    width: 85px;
    height: 13px;
    margin-left: 78px;
}
/*page3*/
.page3{
    height: 873px;
    width: 1578px;
    margin: -70px 0 0 22px;
    padding: 0;
   
}
.container1{
    width: 1169px;
    margin: 27px auto 0;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: auto;
        
}

.container2{
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(2, 148px);
    grid-gap: 22px 30px;
}

.container3{
    text-align: justify;
}
.container3 > div:nth-child(1){
    width: 223px;
    height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat-Bold', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    color: rgba(51, 51, 51, 255);
    letter-spacing: 1px;
    margin-bottom: 26px;
}
.container3 > div:nth-child(2){
    font-family: "Lato-Light", "OpenSans-Light", 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 0.9em;
    color: rgba(80, 80, 80, 255);
    margin-bottom: 36px;
}
.text1 > p:nth-child(1){
    margin-bottom: 30px;
}
.container3 > div:nth-child(3){
    width: 159px;
    height: 31px;
    background-color: #f1ad1d;
    font-family: 'Lato-Bold', 'OpenSans', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top: 47px;
    padding-left: 27px;
    padding-top: 20px;
}
.container2 > div > div {
    background-color: #333333;
    margin-left: 13px;
    margin-top: 95px;
    font-family: "Lato-Regular", "OpenSans", "MyriadPro-Regular", "AdobeInvisFont", 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.page3photo1{
    background-image: url("../img/Layer\ 23@1X.png")
}

.page3photo1 > div{
    width: 103px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}

.page3photo2{
    background-image: url("../img/Layer\ 24@1X.png")
}
.page3photo2 > div{
    width: 103px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.page3photo3{
    background-image: url("../img/Layer\ 25@1X.png")
}
.page3photo3 > div{
    width: 103px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.page3photo4{
    background-image: url("../img/Layer\ 26@1X.png")
}
.page3photo4 > div{
    width: 103px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.page3 > div:nth-child(2){
    background-image: url("../img/Layer\ 22@1X.png");
    background-repeat: no-repeat;
    width: 1600px;
    height:229px;
    margin-top: 124px;
    margin-left: -22px;
    padding-top: 151px;
    
}
.page3footer > div:nth-child(1){
    width: 386px;
    height: 15px;
    margin-bottom: 0;
    margin-left: 604px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', 'OpenSans', 'MyriadPro-Regular', 'AdobeInvisFont','Roboto', sans-serif;
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
}
.page3footer > div:nth-child(2){
    width: 60px;
    height: 3px;
    margin-top: 61px;
    margin-bottom: 0;
    background-color: #f1ad1d;
    margin-left: 769px;
}

/*page4*/

.page4{
    height: 873px;
    width: 1578px;
    margin: -70px 0 0 22px;
    padding: 0;
   
}

.photo{
    height: 586px;
    width: 1167px;
    margin: 53px auto 0px;
    display: grid;
    grid-template-columns: repeat(6, 193px);
    grid-template-rows: repeat(2, 178px);
    grid-gap: 2px 2px;
}

.backfoto1{
    background-image: url("../img/Layer\ 27@1X.png");
    margin: 0;
    padding: 0;
}
.backfoto2{
    background-image: url("../img/Layer\ 28@1X.png")
}
.backfoto3{
    background-image: url("../img/Layer\ 29@1X.png")
}
.backfoto4{
    background-image: url("../img/Layer\ 30@1X.png")
}
.backfoto5{
    background-image: url("../img/Layer\ 31@1X.png")
}
.backfoto6{
    background-image: url("../img/Layer\ 32@1X.png")
}
.backfoto7{
    background-image: url("../img/Layer\ 33@1X.png")
}
.backfoto8{
    background-image: url("../img/Layer\ 34@1X.png")
}
.backfoto9{
    background-image: url("../img/Layer\ 35@1X.png")
}
.backfoto10{
    background-image: url("../img/Layer\ 36@1X.png")
}
.backfoto11{
    background-image: url("../img/Layer\ 37@1X.png")
}
.backfoto12{
    background-image: url("../img/Layer\ 38@1X.png")
}
.photo > div > div {
    background-color: #333333;
    margin-left: 13px;
    margin-top: 119px;
    font-family: "Lato-Regular", "OpenSans", "MyriadPro-Regular", "AdobeInvisFont", 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.foto1{
    width: 122px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
        
}
.foto2{
    width: 139px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto3{
    width: 147px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto4{
    width: 149px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto5{
    width: 138px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto6{
    width: 150px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto7{
    width: 112px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto8{
    width: 131px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto9{
    width: 137px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto10{
    width: 139px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto11{
    width: 122px;
    height: 27px;
    padding-left: 14px;
    padding-top: 15px;
}
.foto12{
    width: 142px;
    height: 27px;
    padding-top: 15px;
}

/*page5*/
.page5{
    height: 873px;
    width: 1578px;
    margin: -70px 0 0 22px;
    padding: 0;
   
}
.container5{
    margin-top: 45px;
    display: flex;
    height: auto;
    justify-content: center;
}
.item5{
    width: 271px;
    height: auto;
    margin: 0 14px;
    border-bottom: 2px solid #333333;
    padding-bottom: 34px;

}
.item5 > div:nth-child(1){
    padding-top: 25px;
    width: 271px;
    height: 21px;
    text-align: center;
    font-family: 'Montserrat-Bold', 'OpenSans', 'MyriadPro-Regular', 'AdobeInvisFont','Roboto', sans-serif;
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #333333;
    line-height: 0;
}
.item5 > div:nth-child(2){
    padding-top: 30px;
    text-align: center;
}
.item5 > div:nth-child(3){
    height: 61px;
    margin-top: 31px;
    font-family: 'Lato-Light', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont','Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: center;
    
}
.item5img1{
    width: 50px;
    height: 46px;
    margin: 0 auto;
    
}
.item5 > div:nth-child(4){
    width: 64px;
    height: 3px;
    margin: 26px auto 0;
    background-color: #f1ad1d;
    
}
.item5 > div:nth-child(5){
    width: 145px;
    height: 17px;
    margin: 28px auto 0;
    font-family: 'Lato-Regular', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 1em;
    color: rgba(80, 80, 80, 255);
    text-align: center;
}
.item5 > div:nth-child(6){
    margin-top: 16px;
}
.item5 > div h6{
    font-family: 'Lato-Light', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont','Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: center;
    margin: 0;
    font-weight: 100;
}

/*page6*/
.page6 {
    background-image: url("../img/Layer.png");
    background-repeat: no-repeat;
    margin: -70px auto 0;
    height: 325px;
    width: 1600px;
    background-size: 100%;
    padding-top: 150px;
}

.partners {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hr{
    width: 60px;
    margin: 60px auto 58px;
    border: 1px solid #f1ad1d;
}
.page6 p:nth-child(1) {
    margin: 0 auto;
    width: 30%;
    font-size:22px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

/*page7*/
.page7{
    height: auto;
    width: 1578px;
    margin: 0 0 264px 22px;
    padding: 0;
   
}

.container7{
    margin-top: 54px;
    display: flex;
    height: auto;
    justify-content: center;
    
}
.item7{
    width: 370px;
    height: auto;
    margin: 0 15px;
    
}
.item7 > div:nth-child(1){
    height: 48px;
    display: flex;
    margin: 0;
    padding: 0;    
}

.containerf1 > div:nth-child(1){
    width: 52px;
    height: 48px;
    background-image: url("../img/Layer\ 10@1X.png");
}

.containerf1 > div:nth-child(2){
    background-color: #f1ad1d;
    width: 305px;
    height: 3px;
    margin-top: 34px;
    margin-left: 13px;
}

.item7 > div:nth-child(2){
    height: auto;
    width: auto;
    margin: 19px auto 0;
    padding: 0;
    font-family: 'Lato-Light', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont','Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(91, 91, 91, 255);
    text-align: justify;    
}

.item7 >div:nth-child(3){
    background-color: #111111;
    height: 3px;
    width: 370px;
    margin-top: 29px;
}

.item7 >div:nth-child(4){
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;

}
.containerf2 > div:nth-child(1){
    width: 56px;
    height: 44px;
    background-image: url("../img/Layer\ 57@1X.png");
}
.containerf3 > div:nth-child(1){
    width: 56px;
    height: 44px;
    background-image: url("../img/Layer\ 58@1X.png");
}
.containerf4 > div:nth-child(1){
    width: 56px;
    height: 44px;
    background-image: url("../img/Layer\ 56@1X.png");
}

.containerf2 > div:nth-child(2){
    margin-top: 15px;
    margin-left: 14px;
}
.containerf3 > div:nth-child(2){
    margin-top: 15px;
    margin-left: 14px;
}
.containerf4 > div:nth-child(2){
    margin-top: 15px;
    margin-left: 14px;
}
.containerftext h6{
    font-family: 'Lato-Regular', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(49, 49, 49, 255);
    text-align: left;
    margin: 0;
}
.containerftext h6:nth-child(2){
    color: rgba(91, 91, 91, 255);
    font-weight: 100;
}

.page7 > div:nth-child(5){
    margin-top: 264px;
}
/*page8*/
.page8{
    height: auto;
    width: 1578px;
    margin: 0 0 0 22px;
    padding: 0;
  
}
.form1{
    margin: 59px auto 0;
    width: 770px;
    height: 64px;
    display: flex;
    align-items: center;
    border: 1px solid #c7c7c7;
}
.forinput1{
    width: 568px;
    height: 59px;
    font-family: 'Lato-Italic', 'OpenSansLight-Italic', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 1em;
    color: rgba(116, 116, 116, 255);
    text-align: left;
    font-style: italic;
    padding-left: 30px;
    border-right-color: #f1ad1d;
    border-left-color: #c7c7c7;
    border-top-color: #c7c7c7;
    border: 0px;
    
}
.form1:nth-child(2){
    width: auto;

}
.forinputbutton1{
    height: 64px;
    width: 172px;
    background-color: #f1ad1d;
    font-family: 'Lato-Bold', 'OpenSansLight-Italic', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 47px;
    border: 0px;
}
.page8marg{
    margin-top: 177px;
}
.container8{
    display: flex;
    height: auto;
    margin: 47px 0 0 193px;
    
}
.container8 > div:nth-child(1){
    width: 570px;
    height: auto;
    overflow: hidden;
}
.container8 > div:nth-child(2){
    width: 308px;
    height: auto;
    margin-left: 229px;
    
    
}
.container8one > div:nth-child(1){
    width: 365px;
    height: 34px;
    background-color: #333333;
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 15px;
    padding-top: 22px;
}
.container8one > div:nth-child(2){
    margin-top: 23px;
    max-width: 452px;
    max-height: 13px;
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: left;
    overflow: hidden;
}
.container8one > div:nth-child(3){
    float: left;
    width: 270px;
    height: auto;
    margin-top: 26px;
    
}
.container8one > div:nth-child(4){
    float: right;
    width: 271px;
    height: 43px;
    margin-top: 26px;
}
.forinput2{
    width: 254px;
    height: 43px;
    font-family: 'Lato-Italic', 'OpenSansLight-Italic', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: left;
    font-style: italic;
    padding-left: 15px;
    border: 1px solid #c7c7c7;
}
.forinput3{
    margin-top: 22px;
    width: 553px;
    height: 184px;
    font-family: 'Lato-Italic', 'OpenSansLight-Italic', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: left;
    font-style: italic;
    padding-left: 15px;
    border: 1px solid #c7c7c7;
}
.forinputbutton2{
    height: 43px;
    width: 118px;
    text-transform: uppercase;
    background-color: #f1ad1d;
    font-family: 'Lato-Bold', 'OpenSansLight-Italic', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 38px;
    border: 0px;
    margin: 24px 0 0;
    float: left;
}
.forinputbutton3{
    height: 43px;
    width: 118px;
    text-transform: uppercase;
    background-color: #f1ad1d;
    font-family: 'Lato-Bold', 'OpenSansLight-Italic', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 38px;
    border: 0px;
    margin: 24px 0 0 24px;
    float: left;
}
.container8two > div:nth-child(1){
    width: 231px;
    height: 34px;
    background-color: #333333;
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 15px;
    padding-top: 22px;
}
.container8two > div:nth-child(2){
    margin-top: 23px;
    max-width: 452px;
    max-height: 13px;
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: left;
    overflow: hidden;
}
.container8two >div:nth-child(3){
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;

}
.container8two >div:nth-child(4){
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;

}
.container8two >div:nth-child(5){
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;

}
.container8two >div:nth-child(6){
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;

}
.container8twoicon > div:nth-child(1){
    width: 23px;
    height: 22px;
    background-color: #333333;
    padding: 10px 0 0 13px;
    margin-top: 28px;

}
.container8twotext h6{
    font-family: 'Lato-Regular', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: left;
    margin: 38px 0 0 12px;
    font-weight: 100;
}
.container8two > div:nth-child(7){
    margin-top: 38px;
    width: 231px;
    height: 34px;
    background-color: #333333;
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 15px;
    padding-top: 22px;
}
.container8twoicon2 > div:nth-child(1){
    width: 23px;
    height: 22px;
    background-color: #333333;
    padding: 10px 0 0 13px;
    margin-top: 10px;
}
.container8twotext2 h6{
    font-family: 'Lato-Regular', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont', 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgba(80, 80, 80, 255);
    text-align: left;
    margin: 20px 0 0 12px;
    font-weight: 100;
}
.container8two > div:nth-child(8){
    width: 27px;
    height: 29px;
    background-color: #f1ad1d;
    margin-top: 28px;
    padding: 11px 0 0 18px;
    float: left;
}
.container8two > div:nth-child(9){
    width: 27px;
    height: 29px;
    background-color: #f1ad1d;
    margin-top: 28px;
    margin-left: 16px;
    padding: 11px 0 0 18px;
    float: left;
}
.container8two > div:nth-child(10){
    width: 27px;
    height: 29px;
    background-color: #f1ad1d;
    margin-left: 16px;
    margin-top: 28px;
    padding: 11px 0 0 18px;
    float: left;
}
.container8two > div:nth-child(11){
    width: 27px;
    height: 29px;
    background-color: #f1ad1d;
    margin-left: 16px;
    margin-top: 28px;
    padding: 11px 0 0 18px;
    float: left;
}
/*page9*/
.page9{
    background-image: url("../img/Shape\ 22@1X.png") url("../img/Layer\ 59@1X.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 485px;
    margin-top: 142px;
    padding-top: 131px;
    
}/*
.page9footer > div:nth-child(1){
    width: 386px;
    height: 15px;
    margin-bottom: 0;
    margin-left: 604px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', 'OpenSans', 'MyriadPro-Regular', 'AdobeInvisFont','Roboto', sans-serif;
    font-size: 1em;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
}
.page9footer > div:nth-child(2){
    width: 60px;
    height: 3px;
    margin-top: 61px;
    margin-bottom: 0;
    background-color: #f1ad1d;
    margin-left: 769px;
}
/*page10*/
