#button {
    color: red;
    background-color: yellow;
    width: 210px;
    text-align: center;
}
.fordiv1 {
    background-color: brown;
    border: 1px solid black;
    width: 500px;
}

.fordiv2 {
    background-color: yellow;
    border: 2px solid white;
    width: 500px;
}